.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px 17px;
    justify-items: stretch;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1100px) {
    .gallery__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:767px) {
    .gallery__grid {
        grid-template-columns: 1fr;
    }
}